Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /scart/

RewriteRule ^cart/([^/]+)/([0-9]+)/?$ cart.html?act=$1&id=$2 [L,QSA]
RewriteRule ^cart/([^/]+)/?$ cart.html?act=$1 [L,QSA]

RewriteCond  %{REQUEST_FILENAME} !-f
RewriteCond  %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.html [L]
